body {
  background: #29566e;
  /*background: linear-gradient(#29566e, #1f288b);*/
}

.container {
  /* background: white; */
  width: 600px;
  min-height: 600px;
  margin-top: 8rem;
  margin-left: 2rem;
}